.p2 {
    padding: 0;
}

main {
    min-height: 600px;
}

p {
    text-align: left;
}

/*
* Media queries
*/
@media (min-width: 800px) {

    .flex-container { 
       
        margin: 50px;
        display: flex;
        flex-direction: row;
        size: 100%;
        }

    .flex_2 {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .col-6 {
        width: 100%;
        }

    .btn {
        min-width: 130px;
        max-width: 150px;
        }

    .green {
        margin-bottom: 30px;
    }


    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #desktop_nav i {
        border: 1px;
        background-color: #0000008f;
    }

}

@media (max-width: 800px) {
    .blue {
        display: none;
    }

    .green {
        margin: 50px;
    }

    p {
        margin: 20px;
    }
}
    
        

