#logo {
    width: 100%;
    display: block;
    margin: 0;
    min-height: 300px;
}

.payment-option {
    border: 2px solid black;
    width: 350px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 60px;
    padding: 10px;
    margin-left: 150px;
}

.payment-option ul, .payment-option ul li {
    list-style: none;
    padding: 0;
    margin: 0;;
}
.payment-option ul li input {
    padding: 8px;
}

.cart-container  {
    display: flex;
    flex-direction: left;
    justify-content: center;
}

.payment-option ul li {
    margin-bottom: 10px;
}

#cc-radio {
    position: relative;
}

#cc-radio:after {
    content: "";
    display: block;
    position: absolute;
    width: 76px;
    height: 22px;
    right: 0;
    top:0;
    background: url(/images/cc.png) no-repeat;
}

#cc-exp-cvc {
    width: 70px;
}

.btn {
    margin-bottom: 10px;
    margin-left: 100px;
}

/*img {
    width: 15%; 
    float: left; 
}*/
.table-image {
    width: 100px;
}

table {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;  
    margin-left: 60px;
}

table tfoot tr td {
    text-align: right;
   
}

table thead tr th {
    border-bottom: 1px solid #000;
}

table tbody tr td, table tbody tr td p {
    text-align: center;
}

table tfoot tr:first-child td {
    border-top: 1px solid #000;
}

table tfoot tr:last-child td {
    border-bottom: 1px solid #000;
}


/*
* Media queries
*/
@media (max-width: 900px) {

    .cart-container .actions {
        justify-content: center;
    }

    .payment-option {
        max-width: 300px;
        margin: 10px;
        align-items: center;
        margin-bottom: 20px;
        padding: 10px;
        }

    .btn {
        align-items: center;
        margin: 0px;
        margin-bottom: 20px;
    }      

    table {
        padding-bottom: 10px;
        width: 100%;
        height: 100%;
        margin-left: 0px;
        }
}
